@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

*,
*::before,
*::after {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
  background-color: #143652 !important;
}

a {
  text-decoration: none !important;
  color: white !important;
}

.navBrandSize {
  font-size: 2rem;
  font-weight: bolder;
}

.nav-sub-text {
  font-size: 1.25rem;
  font-weight: bold;
}

.rounded-circle {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border: 2px solid #f6f8fb;
  border-radius: 100px;
  text-align: center;
  background-color: #f6f8fb;
}

.center-doc-img {
  width: 50%;
  height: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.outline-drop {
  height: 100%;
  border: 2px solid #f6f8fb;
  padding: 1%;
  background-color: #f6f8fb;
  border-radius: 10px;
}

.drop-container {
  height: 100%;
  border: 2px dashed #3b5498;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 10%;
}

.upload-arrow-container {
  display: flex;
  flex-direction: column;
}

.row {
  margin-right: unset !important;
  margin-left: unset !important;
}

.between-text {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid grey;
  line-height: 0.1em;
  margin: 1rem 0 1rem;
}

.between-text2 {
  background: #f6f8fb;
  padding: 0 10px;
  color: grey;
}

.adj-input-url {
  border: 2px solid #143652 !important;
  border-radius: 8px !important;
}

/* Show VC pages */
